@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/*
	font-family: 'Poppins', sans-serif;
*/

@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
/* pixel_text */
/* 
.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
} */

:root {
  --smoky_white: rgb(238, 238, 230);
  --light_smoky_white: #aba9a8;

  --smoky_black: rgb(25, 25, 24);
  --root_sky: rgb(21, 20, 39);
  --smoky_purpal: rgb(93, 98, 251);
}

body {
  background: linear-gradient(#0007, #0000), #123;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--smoky_white);
  background-color: var(--root_sky);
}

/* page_cun */
.page_cun {
  position: relative;
  margin: 0;
  padding: 0;

  width: 100vw;
  max-width: 100vw;

  height: 100vh;
  max-height: 100vh;

  background-color: var(--smoky_white);
  overflow: auto;
  overflow-x: hidden;
}

.page_cun::-webkit-scrollbar {
  width: 0px; /* Width of the vertical scrollbar */
  max-height: 10px; /* Height of the horizontal scrollbar */
}

.page_cun::-webkit-scrollbar-thumb {
  background-color: white; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.page_cun::-webkit-scrollbar-track {
  background-color: var(--root_sky); /* Color of the scrollbar track */
}

/* box1 */
.star {
  width: 100%;
  border: 0;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.box1 {
  contain: layout paint;
  position: relative;
  margin: 0;
  padding: 0;

  width: 100vw;
  max-width: 100vw;

  height: 110vh;
  /* max-height: 110vh; */

  background-color: var(--root_sky);
  background: #060010;
  background: -moz-linear-gradient(
    top,
    #060010 0%,
    #060010 6%,
    #090016 11%,
    #070016 20%,
    #0a0121 48%,
    #0a0127 55%,
    #0a0129 57%,
    #0c012b 62%,
    #0e0131 68%,
    #0d012f 69%,
    #18023c 78%,
    #19023e 79%,
    #19023e 79%,
    #1c0242 81%,
    #22034b 85%,
    #2e045a 92%,
    #2f045e 96%,
    #340464 98%,
    #370569 100%
  );
  background: -webkit-linear-gradient(
    top,
    #060010 0%,
    #060010 6%,
    #090016 11%,
    #070016 20%,
    #0a0121 48%,
    #0a0127 55%,
    #0a0129 57%,
    #0c012b 62%,
    #0e0131 68%,
    #0d012f 69%,
    #18023c 78%,
    #19023e 79%,
    #19023e 79%,
    #1c0242 81%,
    #22034b 85%,
    #2e045a 92%,
    #2f045e 96%,
    #340464 98%,
    #370569 100%
  );
  background: linear-gradient(
    to bottom,
    #060010 0%,
    #060010 6%,
    #090016 11%,
    #070016 20%,
    #0a0121 48%,
    #0a0127 55%,
    #0a0129 57%,
    #0c012b 62%,
    #0e0131 68%,
    #0d012f 69%,
    #18023c 78%,
    #19023e 79%,
    #19023e 79%,
    #1c0242 81%,
    #22034b 85%,
    #2e045a 92%,
    #2f045e 96%,
    #340464 98%,
    #370569 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#060010",
      endColorstr="#370569",
      GradientType=0
    );
}

.text1_cu {
  position: absolute;
  width: 50%;
  margin: 80px;
}

.text1_cu h1 {
  font-size: 104px;
  line-height: 0.9;
  margin: 0;
}

.text1_cu p {
  margin: 0;
  font-size: 18px;
  color: var(--light_smoky_white);
}

.text1_cu h2 {
  font-size: 20px;
  margin-bottom: 0;
}

/* decoration  */
.decoration_boxs_class {
  width: 100%;

  bottom: 0;
  position: absolute;

  /* background-color: aqua; */
  height: 1000px;
  overflow: hidden;
}

.decoration_boxs.white {
  width: 430px;
  height: 200px;

  position: absolute;
  bottom: 0;
  left: 50px;

  border-top-left-radius: 30px;
  background-color: var(--smoky_white);
}

.decoration_boxs.black {
  width: 200px;
  height: 150px;

  position: absolute;
  bottom: 0;
  left: 300px;

  border-top-left-radius: 30px;
  /* border-top-right-radius: 30px; */
  background-color: var(--smoky_black);
}

.decoration_boxs.purpal {
  width: 620px;
  height: 300px;

  position: absolute;
  bottom: 0;
  left: 459px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: var(--smoky_purpal);
}

.decoration_boxs.white2 {
  width: 600px;
  height: 250px;

  position: absolute;
  bottom: 0;
  left: 850px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: var(--smoky_white);
}

.decoration_boxs.black2 {
  width: 600px;
  height: 200px;

  position: absolute;
  bottom: 0;
  left: 1450px;

  /* border-top-left-radius: 30px; */
  border-top-right-radius: 30px;
  background-color: var(--smoky_black);
}

.decoration_boxs.tower {
  width: 200px;
  height: 400px;

  position: absolute;
  bottom: 200px;
  left: 1580px;

  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: var(--smoky_white);
}

.face {
  width: 180px;
  height: 180px;
  background-color: var(--smoky_black);
  position: relative;
  bottom: 0px;
  margin: 10px auto;

  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.eye {
  width: 40px;
  height: 60px;
  background-color: white;
  position: absolute;
  top: 60px;
  transition: transform 0.1s;
  border-radius: 20%;
}
.left-eye {
  left: 100px;
}
.right-eye {
  right: 100px;
}

@keyframes blink {
  0%,
  100% {
    height: 60px;
  }
  50% {
    height: 10px;
  }
}

.tree {
  position: absolute;
  bottom: 170px;
  right: -10px;

  width: 360px;
  height: 260px;
  background-image: url("images/tree.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tree.e2 {
  right: 100px;
}

/* box2 */ /* box2 */ /* box2 */ /* box2 */ /* box2 */ /* box2 */ /* box2 */ /* box2 */ /* box2 */
/* box2 */ /* box2 */ /* box2 */ /* box2 */ /* box2 */ /* box2 */ /* box2 */ /* box2 */ /* box2 */
.box2 {
  contain: layout paint;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 20px;

  background-color: var(--smoky_white);
}

.box2 .decoration_boxs_class {
  position: relative;
  top: 0;
  height: 280px;
}

.box2 .decoration_boxs_class .decoration_boxs.sky {
  width: 50px;
  height: 100px;

  position: absolute;
  left: 0px;

  border-bottom-right-radius: 30px;
  background-color: var(--root_sky);
}

.box2 .decoration_boxs_class .decoration_boxs.black {
  top: 0;
  height: 280px;
  width: 750px;

  border-top-left-radius: 00px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.box2 .decoration_boxs_class .decoration_boxs.purpal {
  top: 0;
  height: 150px;
  width: 391px;

  border-top-left-radius: 00px;
  border-top-right-radius: 00px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.box2 .decoration_boxs_class .decoration_boxs.black2 {
  top: 0;
  height: 150px;

  border-bottom-left-radius: 30px;
}

/* flex_for_box2 */
.box2_flex {
  position: relative;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 100px;

  color: black;
}

.box2_flex_c1,
.box2_flex_c2 {
  position: relative;
  width: 50%;
  padding-bottom: 10px;
  /* background-color: aliceblue; */
}

.box2_flex_c1 h2,
.box2_flex_c1 p,
.box2_flex_c2 h2,
.box2_flex_c2 p {
  margin: 0;
}

.box2_flex_c1 h1 {
  margin: 0;
  font-size: 70px;
}

.skil_list {
  position: relative;
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.369);
  padding: 20px;
  border-radius: 25px;
}

.skil_list_e1 {
  flex: 1 1 calc(33.33% - 20px); /* Ensures 3 items per row with space for gaps */
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.skil_list_e1 b {
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}

.skil_list_e1 li {
  margin-left: 20px;
  list-style-type: disc;
}

.web_skeleton_contaner {
  position: relative;
  height: 800px;
  width: 100%;

  border-radius: 50px;

  background-color: rgba(0, 0, 0, 0.789);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.web_skeleton {
  position: relative;
  height: 800px;
  width: 100%;

  border-radius: 50px;
  z-index: 1;
  background-image: url("images/web.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.web_skeleton_contaner::after {
  content: "";
  position: absolute;
  height: 900px;
  width: 100%;
  top: -43px;

  background-color: rgba(255, 255, 255, 0.68);
  transform: translatex(110%);
  animation: scroll_up_web 3s infinite linear;
  rotate: 20deg;
}

.web_skeleton_contaner::before {
  position: absolute;
  content: "";
  top: 43px;
  height: 1000px;

  rotate: 20deg;
  height: 800px;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.702);
  transform: translatex(110%);
  animation: scroll_up_web 4s 0.6s infinite linear;
}

@keyframes scroll_up_web {
  100% {
    transform: translatex(-150%);
  }
}

.data_analysis_contaner {
  position: relative;
  height: 800px;
  width: 100%;

  border-radius: 50px;

  background: var(--smoky_purpal);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.chart-container {
  width: 300px;
  min-width:30px;
  height: 300px;
  margin: 10px;
  background: var(--smoky_purpal);
  background:white;
  
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-container.e1{
margin-right: 20px;
margin-top: 20px;

}


.Data_Analysis,
.web_description,
.Ai_Ml_And_Automation {
  margin: 50px auto;
  max-width: 90%;
}

.web_description {
  margin-top: 0px;
}

/* box3 */ /* box3 */ /* box3 */ /* box3 */ /* box3 */ /* box3 */ /* box3 */ /* box3 */ /* box3 */
/* box3 */ /* box3 */ /* box3 */ /* box3 */ /* box3 */ /* box3 */ /* box3 */ /* box3 */ /* box3 */
.box3 {
  contain: layout paint;
  position: relative;
  margin: 0;
  padding: 0;

  width: 100vw;
  max-width: 100vw;

  height: 100vh;
  max-height: 100vh;

  background-color: rgb(31, 31, 31);
}

.text1_box3_cu {
  position: absolute;
  width: 50%;

  transform: translate(-50%, -50%);
  top: 20%;
  left: 32%;

  height: 100px;
  /* background-color: aqua; */
  /* margin: 10px; */
}

.text1_box3_cu h1 {
  font-size: 144px;
  line-height: 0.9;
  margin: 0;
}

.box3_work_cu {
  position: relative;
  /* height: 10px; */

  margin: 10px;
}

.box3_work_cu h2 {
  color: gray;
  margin: 0;
  padding: 0;
}

.box3_work_cu:hover h2 {
  color: white;
}

.box3_work_cu .work_p_cu {
  overflow: hidden;
  height: 0;
  font-weight: bolder;
  transition: 0.2s ease-in-out;
  color: gray;
}

.box3_work_cu:hover .work_p_cu {
  transition: 0.2s ease-in-out;
  height: 130px;
}

.box3_work_cu {
  position: relative;
  margin-left: 25px;
  /* background-color: aliceblue; */
}

/* box4 */

.box4 {
  contain: layout paint;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 20px;

  background-color: var(--smoky_white);
}

/* flex_for_box3 */
.box3_flex {
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;

  color: black;
}

.box3_flex p {
  margin: 0;
  padding: 0;
}

.box3_flex_c1,
.box3_flex_c2 {
  position: relative;
  width: 35%;
  /* background-color: aliceblue; */
}

.c1_element p {
  margin: auto;
  width: 90%;
}
.c1_element b {
  padding-left: 30px;
}
.c1_element_image {
  width: 100%;
  height: 400px;
  background-color: var(--smoky_black);
  border-radius: 30px;
  margin: 20px 0;
}

/* end */
.end {
  position: relative;
  width: 100vw;
  min-height: 70vh;
  padding-bottom: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  background-color: var(--smoky_black);
}

.end_top {
  position: relative;
  width: 95%;
  padding-top: 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: var(--smoky_white);
}

.end_name {
  font-family: "Pixelify Sans", serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
}

.Get_In_Touch {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  border: 2px solid var(--smoky_white);
  padding: 15px 30px;
}

a {
  position: relative;
  text-align: right;
  width: 100%;
  background-color: aqua;
}

.end_bottom {
  position: absolute;
  bottom: 15px;
  width: 100%;
  transform: translate(-50%, 0);
  left: 50%;
}

.end_bottom_flex {
  position: relative;
  width: 95%;
  margin: auto;

  display: flex;
  justify-content: space-between;

  color: var(--smoky_white);
}

.hello_world {
  font-family: "Pixelify Sans", serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 600;

  line-height: 0.8;
  font-size: 202px;
  max-width: 50%;
}

.scroll_up_flex_cover {
  align-items: last baseline;
  display: flex;
}
.scroll_up_flex {
  position: relative;
  align-items: center;
  gap: 15px;
  display: flex;
  padding: 0;
}
.scroll-up_flex {
  text-align: right;
}

.scroll_up_bu {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 10px;

  background-color: rgba(0, 0, 0, 0.243);
}

.end_line_div {
  position: relative;
  width: 95%;
  margin: 15px auto;
  height: 5px;

  background-color: var(--smoky_white);
}
