@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*
	font-family: 'Poppins', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
/* pixel_text */
/* 
.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;
} */


:root{
  --smoky_white:rgb(238, 238, 230);
  --light_smoky_white:#aba9a8;

  --smoky_black:rgb(25, 25, 24);
  --root_sky:rgb(21, 20, 39);
  --smoky_purpal:rgb(93, 98, 251);
}


body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--smoky_white);
  background-color: var(--root_sky);
}


/* page_cun */
.page_cun {
  position: relative;
  margin: 0;
  padding: 0;

  width: 100vw;
  max-width: 100vw;

  height: 100vh;
  max-height: 100vh;

  background-color: var(--smoky_white);
  overflow: auto;
  overflow-x: hidden;
}

.page_cun::-webkit-scrollbar {
  width: 0px; /* Width of the vertical scrollbar */
  max-height: 10px; /* Height of the horizontal scrollbar */
}

.page_cun::-webkit-scrollbar-thumb {
  background-color: white; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.page_cun::-webkit-scrollbar-track {
  background-color: var(--root_sky); /* Color of the scrollbar track */
}


.box1{
position: relative;
margin: 0;
padding: 0;

width: 100vw;
max-width: 100vw;

height: 110vh;
/* max-height: 110vh; */

background-color:var(--root_sky);

}

.text1_cu{
  position:absolute;
  width: 50%;

  /* transform: translate(-50%,-50%);
  top: 20%;
  left: 32%; */

  margin: 80px;

  /* height: 100px; */

}

.text1_cu h1{
  font-size: 144px;
  line-height: 0.9;
  margin: 0;
}

.text1_cu p{
  margin: 0;
  font-size: 22px;
  color: var(--light_smoky_white);
}

.text1_cu h2{
  margin-bottom: 0;
}

.decoration_boxs_class{
  width: 100%;

  bottom: 0;
  position: absolute;

  /* background-color: aqua; */
  height: 1000px;
  overflow: hidden;


}

.decoration_boxs.white{
  width: 430px;
  height: 200px;

  position: absolute;
  bottom: 0;
  left: 50px;

  border-top-left-radius: 30px;
  background-color: var(--smoky_white);
}

.decoration_boxs.black{
  width: 200px;
  height: 150px;

  position: absolute;
  bottom: 0;
  left: 300px;

  border-top-left-radius: 30px;
  /* border-top-right-radius: 30px; */
  background-color: var(--smoky_black);
}


.decoration_boxs.purpal{
  width: 620px;
  height: 300px;

  position: absolute;
  bottom: 0;
  left: 459px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: var(--smoky_purpal);
}

.decoration_boxs.white2{
  width: 600px;
  height: 250px;

  position: absolute;
  bottom: 0;
  left: 850px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: var(--smoky_white);
}

.decoration_boxs.black2{
  width: 600px;
  height: 200px;

  position: absolute;
  bottom: 0;
  left: 1450px;

  /* border-top-left-radius: 30px; */
  border-top-right-radius: 30px;
  background-color: var(--smoky_black);
}

.decoration_boxs.tower{
  width: 200px;
  height: 400px;

  position: absolute;
  bottom: 200px;
  left: 1580px;

  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: var(--smoky_white);
}

.decoration_boxs_tower_clock_cu{
  width: 180px;
  height: 180px;

  position: relative;
  bottom: 0px;
  margin:10px auto;

  border-radius: 100%;
  background-color: var(--smoky_black);

}

/* box2 *//* box2 *//* box2 *//* box2 *//* box2 *//* box2 *//* box2 *//* box2 *//* box2 */
/* box2 *//* box2 *//* box2 *//* box2 *//* box2 *//* box2 *//* box2 *//* box2 *//* box2 */
.box2{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 20px;

  background-color:var(--smoky_white);
}

.box2 .decoration_boxs_class{
  position: relative;
  top: 0;
  height: 280px;  
} 

.box2 .decoration_boxs_class .decoration_boxs.sky{
  width: 50px;
  height: 100px;

  position: absolute;
  left: 0px;

  border-bottom-right-radius: 30px;
  background-color: var(--root_sky);
}

.box2 .decoration_boxs_class .decoration_boxs.black{
  top: 0;
  height: 280px;
  width: 750px;

  border-top-left-radius: 00px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.box2 .decoration_boxs_class .decoration_boxs.purpal{
  top: 0;
  height: 150px;
  width: 391px;

  border-top-left-radius: 00px;
  border-top-right-radius: 00px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.box2 .decoration_boxs_class .decoration_boxs.black2{
  top: 0;
  height: 150px;

  border-bottom-left-radius: 30px;
}

/* flex_for_box2 */
.box2_flex{
  position: relative;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 100px;

  color: black;
}

.box2_flex_c1,.box2_flex_c2{
  position: relative;
  width: 50%;
  /* background-color: aliceblue; */
}

.box2_flex_c1 h2,.box2_flex_c1 p,.box2_flex_c2 h2,.box2_flex_c2 p{
  margin: 0;
}

.box2_flex_c1 h1{
  margin: 0;
  font-size: 70px;
}

.skil_list {
  position: relative;
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.369);
  padding: 20px;
  border-radius: 25px;
}

.skil_list_e1 {
  flex: 1 1 calc(33.33% - 20px); /* Ensures 3 items per row with space for gaps */
  text-align: left; 
  box-sizing: border-box; 
  padding: 10px;
  background-color: #fff;
  border-radius: 12px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.skil_list_e1 b {
  display: block;
  margin-bottom: 5px; 
  margin-left: 5px; 
}

.skil_list_e1 li {
  margin-left: 20px; 
  list-style-type: disc; 
}

.web_skeleton{
  position: relative;
  height: 800px;
  width: 100%;
  margin: auto;

  border-radius: 50px;

  background-color: var(--smoky_purpal);
}

.Data_Analysis{
  margin-top: 40px;
}


/* box3 *//* box3 *//* box3 *//* box3 *//* box3 *//* box3 *//* box3 *//* box3 *//* box3 */
/* box3 *//* box3 *//* box3 *//* box3 *//* box3 *//* box3 *//* box3 *//* box3 *//* box3 */
.box3{
position: relative;
margin: 0;
padding: 0;

width: 100vw;
max-width: 100vw;

height: 100vh;
max-height: 100vh;

background-color: rgb(31, 31, 31);

}

.text1_box3_cu{

  position:absolute;
  width: 50%;

  transform: translate(-50%,-50%);
  top: 20%;
  left: 32%;

  height: 100px;
  /* margin: 10px; */

}

.text1_box3_cu h1{
  font-size: 144px;
  line-height: 0.9;
  margin: 0;
}


.box3_work_cu{
  position: relative;
  /* height: 10px; */

  margin:10px ;

} 

.box3_work_cu h2{
  color: gray;
  margin: 0;
  padding: 0;
}

.box3_work_cu:hover h2{
  color: white;
}

.box3_work_cu .work_p_cu{
  overflow: hidden;
  height: 0;
  font-weight: bolder;
  transition: 0.2s ease-in-out;
  color: gray;

}

.box3_work_cu:hover .work_p_cu{
  transition: 0.2s ease-in-out;
  height: 130px;

}

.box3_work_cu{
  position: relative;
  margin-left: 25px;
  /* background-color: aliceblue; */
}


/* box4 */

.box4{
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 20px;

  background-color:var(--smoky_white);
}


/* flex_for_box3 */
.box3_flex{
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;

  color: black;
}

.box3_flex p{
  margin: 0;
  padding: 0;
}

.box3_flex_c1,.box3_flex_c2{
  position: relative;
  width: 35%;
  /* background-color: aliceblue; */
}

.c1_element_image{
  width: 100%;
  height: 400px;
  background-color: var(--smoky_black);
  border-radius: 30px;
  margin: 20px 0;
}

/* end */
.end{
  position: relative;
  width: 100vw;
  min-height: 70vh;
  padding-bottom: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  background-color:var(--smoky_black);
}

.end_top{
  position: relative;
  width: 95%;
  padding-top: 40px;
  margin: auto;
  display: flex;
  justify-content:space-between;
  color: var(--smoky_white);
}

.end_name{
 font-family: "Pixelify Sans", serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 400;

  font-size: 52px;
}

.Get_In_Touch{
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  border: 2px solid var(--smoky_white);
  padding: 15px 30px;
}

a{
  position: relative;
  text-align: right;
  width: 100%;
  background-color: aqua;
}

.end_bottom{
  position:absolute;
  bottom: 15px;
  width: 100%;
  transform: translate(-50%,0);
  left: 50%;
}


.end_bottom_flex{
  position:relative;
  width: 95%;
  margin: auto;

  display: flex;
  justify-content:space-between;

  color: var(--smoky_white);
  

  
 
}



.hello_world{
  font-family: "Pixelify Sans", serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 600;

  line-height: 0.8;
  font-size: 202px;
  max-width: 50%;
}

.scroll_up_flex_cover{
  align-items:last baseline;
  display: flex;

}
.scroll_up_flex{
  position: relative;
  align-items:center;
  gap: 15px;
  display: flex;
  padding:0;
}
.scroll-up_flex{
  text-align: right;
}

.scroll_up_bu{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 10px;

  background-color: rgba(0, 0, 0, 0.243);
}


.end_line_div{
  position: relative;
  width: 95%;
  margin:15px auto;
  height: 5px;

  background-color: var(--smoky_white);
}